//  Write your css codes here
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: linear-gradient(1.2turn, dodgerblue, lime);
}

body {
    font-family: Poppins, sans-serif;
    margin: 0;
    background: #f2f2f2;
    
}

header {
    background: white;

    .container {
        width: 72vw;
        height: 60px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        

        .nav-links {

            nav {
                               
                ul { 
                    

                    li {
                        list-style: none;
                        display: inline;

                        a {
                            text-decoration: none;
                            color: black;
                            
                        }
                        
                    }
                }

                .primary-navbar {

                    li {
                        padding: 0 16px;

                        a {
                            font-size: 0.88rem;

                            &:hover {
                                color: var(--primary-color);
                            }
                        }
                    }
                }

                ul.secondary-navbar {
                    

                    li {
                        
                        a.btn-cta {
                            font-size: 0.8rem;
                            font-weight: 600;
                            color: rgba(255, 255, 255, 0.781);
                            background: linear-gradient(1.2turn, dodgerblue, lime);
                            padding: 12px 30px;
                            border-radius: 20px;
                            border: none; 
                            
                            &:hover {
                                font-size: .9rem;
                                color: rgb(255, 255, 255);
                            }
                        }
                    }
                }
            }
        }
    }
}

.logo {
    font-weight: 800;
}

.menu, .exit-menu { display: none;}

.hero {
    background: rgba(253, 254, 255, 0.755);
    margin: 0;
    padding: 0;

    .container {
        width: 68vw;
        height: 67vh;
        margin: 0 auto;
        display: flex;
        flex-direction: row;

        .left-col {
            padding: 80px 0;

            h1 {
                font-size: 3rem;
                font-weight: 100;
                color: rgba(0, 0, 0, 0.89);
            }

            p {
                line-height: 1.6;
                padding-bottom: 30px;
                color: rgba(0, 0, 0, 0.584);
            }

            a.btn-cta {
                font-size: .8rem;
                font-weight: 600;
                text-decoration: none;
                color: rgba(255, 255, 255, 0.766);
                background: linear-gradient(1.2turn, dodgerblue, lime);
                padding: 12px 40px;
                border-radius: 20px;
                width: 100px;
                border: none;

                &:hover {
                    font-size: .9rem;
                    color: rgb(255, 255, 255);
                }
            }
        }
    }

}

.features {
    background: rgba(253, 254, 255, 0.115);
    margin: 0;
    padding: 0;
    

    .container {
        width: 68vw;
        height: 50vh;
        padding: 20px;
        margin: 0 auto;

        .top-level {
            text-align: left;

            h2 {
                font-size: 2rem;
                font-weight: 100;
                color: rgba(0, 0, 0, 0.764);
            }

            p {
                font-size: 1rem;
                color: rgba(0, 0, 0, 0.584);
            }
        }

        .list-items {
            display: flex;
            flex-direction: row;
            padding-top: 30px;

            .item-1, .item-2, .item-3, .item-4 {


                .icon {
                    width: 40px;
                    height: 40px;
                    background: linear-gradient(0.89turn, dodgerblue, lime );
                    text-align: left;
                    border-radius: 50%;
                }

                h4 {
                    font-size: 1.2rem;
                    font-weight: 200;
                    color: rgba(0, 0, 0, 0.801);
                }

                p {
                    font-size: 0.8rem;
                    line-height: 1.6;
                    color: rgba(0, 0, 0, 0.584);
                }
            }
            
            .item-2, .item-3 {
                padding: 0 20px 0;
            }

            .item-1 {
                padding-right: 10px;
            }

            .item-3 {
                padding-left: 10px;
            }
        }
    } 

}

.latest-articles {
    background: rgba(253, 254, 255, 0.755) ;
    
    padding: 20px;


    .container {
        width: 68vw;
        height: 70vh;
        margin: 0 auto;

        h2 {
            font-size: 1.5rem;
            font-weight: 100;
            color: rgba(0, 0, 0, 0.764);
        }

        .articles {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .feeds {
                text-align: left;
                width: 230px;
                background: rgba(255, 255, 255, 0.881);
                box-shadow: 0 1.5px 2.5px 1px rgba(177, 175, 175, 0.149);
                border-radius: 5px;

                cite {
                    padding: 30px 0 20px 20px;
                    color: rgba(0, 0, 0, 0.607);
                    font-size: .8rem;
                    text-orientation: upright;
                    margin-top: 30px;
                }

                img {
                    display: block;
                    border-radius: 5px 5px 0 0;
                }

                h3 {
                    font-size: 1.16rem;
                    font-weight: 300;
                    color: rgba(0, 0, 0, 0.747);
                    padding-left: 20px;
                    padding-right: 20px;
                }
                blockquote {
                    text-align: left;
                    padding: 10px 20px 30px 20px;
                    margin: 0;
                    font-size: .88rem;
                    font-weight: 400;
                    color: rgba(0, 0, 0, 0.607);
                    line-height: 1.4;
                    
                    
                }
            }
        }
    }

}

.footer {
    background: rgba(1, 12, 33, 0.866);

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 68vw;
        padding: 50px 0 30px;
        margin: 0 auto;

        .first-col {
            display: block;

            nav {
                ul {
                    li {
                        list-style: none;
                        margin: 0;

                        a.logo {
                            font-size: 1.25rem;
                            color: white;
                            text-decoration: none;
                            margin-left: -50px;
                        }
                    }
                }
            }

            .social-links {
                margin-left: -30px;

                i {
                    color: white;
                    font-size: 1.3rem;
                    padding: 20px 3px;
                    cursor: pointer;
                }
            }
        }

        .second-col {
            display: flex;

            ul {
                padding: 0 30px 0 70px;

                li {
                    list-style: none;
                    padding: 0 0 20px;

                    a {
                        color: #f2f2f2bf;
                        text-decoration: none;
                        
                    }
                }

                
            }
            
           
        }

        .third-col {
            text-align: right;
            padding-top: 10px ;

            a.btn-cta {
                font-size: .88rem;
                font-weight: 600;
                text-decoration: none;
                color: rgba(255, 255, 255, 0.807);
                background: linear-gradient(1.2turn, dodgerblue, lime);
                padding: 12px 40px;
                border-radius: 20px;
                width: 100px;
                border: none;
                text-align: right;

                &:hover {
                    font-size: .9rem;
                    color: rgb(255, 255, 255);
                }

                
            }

            span {
                font-size: .88rem;
                padding-top: 60px;
                display: block;
                color: rgba(255, 255, 255, 0.588);
            }
        }
    }

}

@media only screen and (max-width:1281px) {

    .container {
        width: 1281px;
        margin: 0 auto;

    }

    .hero {

        .container {
            height: 65vh;
           
        }
    }

    .features {

        .container {
            height: 58vh;
        }
    }

    .latest-articles {

        .container {
            height: 84vh;

            .articles {

                .feeds {
                    width: 200px;

                    img {
                        width: 200px;
                        height: 180px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:1024px) {
    .container {
        width: 1024px;
        margin: 0 auto;
    }

    .hero {

        .container {
            height: 80vh;

            .left-col {

                h1 {
                    font-size: 2.7rem;
                }
            }

            img {
                width: 500px;
                height: 80vh;
            }
        }
    }

    .features {

        .container  {
            height: 70%;

            .list-items {

                .item {

                    h4 {
                        font-size: 1.1rem;
                        font-weight: 200;
                    }
                }
            }
        }
    }


    .latest-articles {

        .container {
            height: 85%;

            .articles{

                .feeds{
                    width: 150px;

                    img{
                        width: 150px;
                        height: 110px;
                    }

                    cite{
                        font-size: 0.6rem;
                    }

                    blockquote {
                        font-size: 0.7rem;
                    }
                    h3 {
                        font-size: .98rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:820px) {
    .container {
        width: 820px;
        margin: 0 auto;
    }

    .menu-btn{ display: block;}
    .primary {display: none;}
    .secondary{ display: none;}
    .mobile-device {cursor: pointer;}

    .overlay {
        background: #20272E;
        position: fixed;
        z-index: 999;
        width: 60%;   
        right: 0;
        top: 0;
        padding: 1em;
        height: 100vh;

        ul.primary-navbar{

            li {

                a {
                    color: #f2f2f2;
                    display: block;
                    text-align: right;
                    font-size: 1rem;
                    padding: .6rem;
                    
                }
            }
        }
    }

    .exit-menu{
        display: block;
        float: right;
        margin: .5em;
        cursor: pointer;
        
    }
    
    .menu {
        cursor: pointer;
        display: inline-block;
    }

    .hero {

        .container {
            display: flex;
            flex-direction: column;
            height: 100vh;

            .left-col {
                text-align: center;
                
                h1{
                    font-size: 3.5rem;
                }

                p{
                    font-size: 1.7rem;
                }

                a.btn-cta {
                    width: 300px;
                    font-size: 1.2rem;
                }
            }

            img {
                // display: none;
                height: 40%;
                
            }
        }
    }

    .features {

        .container{

            .list-items{
                display: grid;
                grid-template-columns: 1fr 1fr;

                .item{
                    margin: 0 auto;
                    padding: 0;
                    width: 75%;
                }

            }
        }
    }

    .latest-articles {

        .container{
            h2{ font-size: 2.2rem;}

            .articles{
                display: flex;
                flex-direction: column;

                .feeds{
                    margin-top: 12px;
                    width: 500px;

                    img{
                        width: 500px;
                        height: 200px;
                    }
                    cite{
                        font-size: 1.15rem;
                    }
                    h3{
                        font-size: 1.5rem;
                    }
                    blockquote{
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

    .footer {

        .container {
            display: flex;
            flex-direction: column; 
            text-align: center;     

            .first-col{
                nav{
                    ul{
                        li{
                            a{
                                font-size: 2.2rem;
                            }
                        }
                    }
                }

                .social-links{
                    padding-bottom: 10px;
                    i{
                        font-size: 2.3rem;
                        padding: 0 8px;
                    }
                }
            }

            .second-col{
                padding-left: 60px;
            }
                
            .third-col{
                display: inline-block;
                text-align: center;
            }
        }
    }
}

@media only screen and (max-width:412px){
    .container {
        width: 412px;
        margin: 0 auto;
    }

    .hero {

        .container {
            height: 100vh;

            .left-col{
                h1{
                    font-size: 2.4rem;
                }
                p{
                    font-size: 1.2rem;
                }
                
            }

            img{
                width: 260px;
                height: 248px;
            }
        }
    }

    .features {

        .container{

            .list-items{
                display: flex;
                flex-direction: column;

            }
        }
    }

    .latest-articles {
        .container{

            .articles{

                .feeds{
                    width: 280px;

                    img{
                        width: 280px;
                    }

                }
            }
        }
    }

    .footer {

        .container{

            .second-col{
                
                padding-top: 10px;

                .tab-1{
                    margin: 0;
                    padding: 0;
                }
                .tab-2{
                    margin: 0;
                    margin: 0;
                }
            }
        }
    }
}