@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: Poppins, sans-serif;
}

header {

    .container {
        padding: 20px 20px;
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        a.logo{
            font-size: 1.2rem;
            font-weight: 900;
            color: rgba(0, 0, 0, 0.87);
            text-decoration: none;
        }

        .menu {
            cursor: pointer;
        }

        .overlay {
            display: none;
        }
    }
}

.hero {
    text-align: center;
    background: #f3f3f373;

    .container {
        
        width: 100%;
        height: 100vh;
        padding: 20px 0;
        margin: 0 auto;

        .left-col {
            padding: 0 20px;
            
            h1{
                font-size: 2.6rem;
                line-height: 1.3em;
                font-weight: 500;

            }
            p {
                letter-spacing: 0.6px;
                line-height: 1.2;
                padding-bottom: 30px;
                font-size: 0.88rem;
            }

            a.btn-cta {
                text-decoration: none;
                color: white;
                background: linear-gradient(-20deg, dodgerblue, lime);
                padding: 10px 30px;
                font-size: 14px;
                
                border-radius: 20px;

                &:hover {
                    font-weight: bold;
                }
            }
        }

        img {
            padding-top: 60px;
            height: 200px;
            width: 350px;
        }
    }
} 

.features {
    background: #f3f3f3;
    padding: 20px 0;

    .container {
        margin: 0 auto;
        width: 100%;

        .top-level{
            text-align: left;
            padding: 0 20px;

            h2 {
                font-weight: 100;
                font-size: 2rem;
                
            }
            p {
                font-size: .88rem;
                letter-spacing: .78px;
                line-height: 1.4;
            }
        }

        .list-item {
            padding: 0 20px;
            text-align: left;            

            .item {
                
                .icon {
                    background: linear-gradient(-20deg, dodgerblue, lime);
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                }
                h4{
                    font-weight: 100;
                    font-size: 1.08rem;
                }
                p{
                    font-size: 0.85rem;
                    line-height: 1.4;
                }

            }
        }
    }
}

.latest-articles {

    .container {
        margin: 0 auto;
        padding: 0 20px;

        h2 {
            padding: 20px 0;
            font-weight: 100;
        }

       .articles{
            padding: 0 20px;

            .feeds {
                margin-bottom: 40px;
                text-align: center;
                padding-bottom: 20px;
                width: 100%;
                border-radius: 0 0 10px 10px;
                box-shadow: 0 1px 4px 1px #f2f2f2;
                display: flex;
                flex-direction: column;
                

                img {
                    width: 100%;
                    border-radius: 10px 10px 0 0;
                }
                h3{ 
                    font-weight: 100; font-size: 1rem;
                    text-align: center;
                    padding-left: 10px;
                }
                cite {
                    font-size: .68rem;
                    text-align: center;
                    padding: 10px;

                }
                blockquote{
                    margin: 0;
                    padding: 0 10px ;
                    font-size: .8rem;
                    font-weight: 100;
                    color: rgba(0, 0, 0, 0.699);
                }
            }   
        }
    }
}

.footer {
    background: rgba(4, 5, 58, 0.973);

    .container {
        width: 90%;
        margin: 0 auto;
        padding: 20px 0px 40px;
        display: flex;
        flex-direction: column;
        text-align: center;

        .first-col {
            a.logo{
                font-size: 1.2rem;
                font-weight: 900;
                color: rgba(255, 255, 255, 0.87);
                text-decoration: none;
            }

            .social-links {
                text-align: center;
                padding-bottom: 20px;

                i{
                    color: rgba(255, 255, 255, 0.87);
                    padding: 0 14px;
                }
            }
        }

        .second-col{
            margin: 0;
            padding: 0;
            display: flex;
            text-align: center;
            justify-content: space-between;

            .tab-1{
                li{
                    display: inline-block;
                    list-style: none;
                    padding: 0 5px 5px;

                    a{
                        color: rgba(255, 255, 255, 0.87);
                        text-decoration: none;
                        font-size: 0.88rem;

                        }
                    }
                
            }
            .tab-2{
                li{
                    display: inline-block;
                    list-style: none;
                    padding: 0 5px 5px;
                    a{
                        color: rgba(255, 255, 255, 0.87);
                        text-decoration: none;
                        font-size: 0.88rem;
                    }
                }
            }

        }

        .third-col {
            a.btn-cta{
                text-decoration: none;
                color: white;
                background: linear-gradient(-20deg, dodgerblue, lime);
                padding: 10px 30px;
                font-size: 14px;
                
                border-radius: 20px;
            }

            span{ 
                display: block;
                padding: 28px 10px 0;
                font-size: .8rem;
                color: rgba(255, 255, 255, 0.87);
            }

        }


    }

}

nav {
    background: rgba(0, 0, 0, 0.959);
    width: 68vw;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    text-align: right;
    padding: 30px;
    height: 100vh;

    .exit-menu {
        cursor: pointer;
    }
    ul {
        li {
            list-style: none;
            padding: 10px 0;

            a{
                text-decoration: none;
                color: whitesmoke;

                &:hover {
                    font-weight: bold;
                }
            }
        }
    }

    a.btn-cta{
        text-decoration: none;
        color: white;
        background: linear-gradient(-20deg, dodgerblue, lime);
        padding: 10px 30px;
        font-size: 14px;
        border-radius: 20px;

        &:hover {
            font-weight: bold;
        }
    }


}

nav.menu-btn {
    display: block;
}

@media only screen and  (min-width: 768px) {
    .menu, .exit-menu {
        display: none;
    }

    

    header{

        .container {
            // display: grid;
            // grid-template-columns: 180px auto;


             nav.overlay {
                display: flex;
                background: none;
                position: unset;
                height: auto;
                justify-content: space-evenly;
                width: 100%;
                padding: 0;

                ul {
                    margin: 0;
                    padding-top: 7px;

                    li {
                        padding-left: .88rem;
                        display: inline;
                        
                        a{
                            color: rgba(0, 0, 0, 0.603);
                            font-size: 0.8rem;
                            // font-weight: 200;
                        }
                    }
                }

                
            }
        }
    }

    .features {

        .container {
            margin: 0 auto;
            height: 58vh;

            .list-item {
                // display: grid;
                // grid-template-columns: 1fr 1fr;
                display: flex;


                .item {
                    margin:0 auto;
                    padding: 10px ;
                    
                }

            }          
        }
    }

    .latest-articles{

        .container{

            .articles{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;


                .feeds {
                    width: 280px;
    
                    img{
                        width: 280px;
                    }
                }
            }
        }

    }
        
}

@media only screen and  (min-width: 1080px) {

    .container{
        width: 1080px;
        margin: 0 auto;
    }

    .hero {
        
        .container {
            width: 1080px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            padding: 40px 0;
            height: 76vh;
            

            .left-col{
                padding-left: 0;
                text-align: left;
                width: 40%;

                h1 {
                    font-size: 3.5rem;
                }
            }

            img {
                width: 40%;
                height: 88%;
                border-radius: 60px 5px 0px 30px;
            }

        }
    }

    .features {

        .container{
            width: 1080px;
            margin: 0 auto;
        }
    }
    
    .latest-articles {
        padding-top: 20px;

        .container {
           
            .articles {
                
                .feeds {
                    width: 200px;

                    img{
                        width: 200px;
                    }
                }
            }
        }
    }

    .footer {

        .container {
            width: 1080px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 40px 0;

            .first-col{

                .social-links{
                    margin-top: 20px;
                }
            }

            .second-col{
                
                ul.tab-1, .tab-2{
                    

                    li{
                        text-align: left;
                        padding: 10px;
                        display: block;
                        a{
                            &:hover{
                                font-weight: bold;
                            }
                        }
                    }
                }
            }

            .third-col {
                a.btn-cta{
                    display: block;

                    &:hover {
                        font-weight: bold;
                    }
                        
                }

            }
        }

    }

}

// @media only screen and (min-width: 1450px){}
